.container {
  display: flex;
  gap: var(--spacing-xl);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 140rem;
  min-height: 100%;
  padding: 0 var(--spacing-xl);

  &--column {
    flex-flow: column nowrap;
  }
}
