.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: var(--container-max-width);
  min-height: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
  gap: var(--spacing-xl);
}
