/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

figure {
  margin: 0;
  padding: 0;
}
