.section-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: var(--spacing-xxxs);
  margin: 0 0 0 0;
  text-transform: uppercase;
}

.section-subtitle {
  font-family: var(--font-special);
  font-size: var(--font-size-max);
  color: var(--color-primary);
  font-weight: 400;
  margin: 0;
}

.section-text {
  font-size: var(--font-size-md);
  color: var(--color-gray);
  font-family: var(--font-secondary);
}
