:root {
  --color-primary: #ca8e46;
  --color-light: #ffffff;
  --color-gray: #616163;
  --color-dark: #18181d;
  --color-darker: #121217;

  --font-primary: "Cinzel", serif;
  --font-secondary: "Montserrat", serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 1.333rem;
  --font-size-md: 1.777rem;
  --font-size-lg: 2.369rem;
  --font-size-xl: 3.157rem;
  --font-size-xxl: 4.209rem;
  --font-size-xxxl: 5.61rem;

  --logo-width: 25rem;
  //   --header-height: [size];
  //   --footer-height: [size];
  //   --content-padding: [size];
  //   --section-padding: [size];
  //   --box-shadow: [value];
  --transition-duration-xs: 0.3s;
  --transition-duration-sm: 0.5s;

  --transform-scale-xs: 1.2;

  --line-height-xs: 1.2rem;
  --line-height-sm: 1.4rem;
  --line-height-md: 1.6rem;
  --line-height-lg: 1.8rem;
  --line-height-xl: 2.2rem;
  --line-height-xxl: 2.8rem;

  --spacing-xxxs: 0.26rem;
  --spacing-xxs: 0.4rem;
  --spacing-xs: 0.8rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 3.2rem;
  --spacing-xl: 6.4rem;
  --spacing-xxl: 9.6rem;

  --width-xxs: 0.4rem;
  --width-xs: 0.8rem;
  --width-sm: 1.6rem;
  --width-md: 3.2rem;
  --width-lg: 4.8rem;
  --width-xl: 6.4rem;
  --width-xxl: 9.6rem;

  --height-xxs: 0.4rem;
  --height-xs: 0.8rem;
  --height-sm: 1.6rem;
  --height-md: 3.2rem;
  --height-lg: 4.8rem;
  --height-xl: 6.4rem;
  --height-xxl: 9.6rem;
}
