.footer {
  padding: 8rem 0;
  background-color: var(--color-darker);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & .copyright {
    flex: 1;
  }

  & .socials {
    display: flex;
    gap: 2rem;
    list-style: none;
    flex: 1;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    img {
      width: 24px;
    }
  }

  & .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      width: 20rem;
    }
  }
}
