.header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-lg);
  gap: var(--spacing-sm);
  z-index: 2;

  &__logo {
    flex-basis: var(--logo-width);

    &-img {
      max-width: 100%;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    font-family: var(--primary-text-font);

    &-list {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      text-transform: uppercase;
      letter-spacing: var(--spacing-xxxs);
      font-size: var(--font-size-sm);
      font-weight: 600;

      & + &::before {
        content: "/";
        padding: 0 2rem;
        color: var(--color-primary);
        font-weight: bold;
      }
    }
  }
}
