.welcome {
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
    flex: 0 0 50%;
    z-index: 2;
    padding: var(--spacing-xxl) 0;
    padding-left: var(--spacing-xxl);

    & .btn {
      flex-grow: 0;
      align-self: flex-start;
    }
  }

  &-bg {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    figure {
      flex: 0 0 50%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        animation: scaling 30s ease-in-out infinite;
        object-fit: cover;
      }
    }
  }
}
