.btn {
  display: inline-block;
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: 9999px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all var(--transition-duration-xs) ease-in-out;
  cursor: pointer;
  border: none;
  font-family: var(--secondary-text-font);
  font-weight: 600;
  letter-spacing: var(--spacing-xxxs);
  font-size: var(--font-size-ms);
  margin: 0;
}

.btn-dark {
  background-color: transparent;
  border: 2px solid var(--secondary-color); // Use a variable for your secondary color
  color: var(--secondary-color);

  &:hover {
    background-color: var(--button-dark-color);
    color: var(--button-light-color);
  }
}

.btn-light {
  background-color: transparent;
  border: 2px solid var(--button-light-color); // Use a variable for your primary color
  color: var(--button-light-color);

  &:hover {
    background-color: var(--button-light-color);
    color: var(--button-dark-color);
  }
}

.btn-accent {
  background-color: transparent;
  border: 2px solid var(--button-accent-color); // Use a variable for your primary color
  color: var(--button-accent-color);

  &:hover {
    background-color: var(--button-accent-color);
    color: var(--button-light-color);
  }
}
