.header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-lg);
  gap: var(--spacing-sm);

  &__logo {
    img {
      width: 25rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      a {
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: var(--font-size-sm);
        font-weight: 600;
        font-family: "Cinzel", serif;
      }

      & + &::before {
        content: "/";
        padding: 0 2rem;
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }

  &__user-actions {
    display: flex;
    flex: 1 1 10rem;
    justify-content: center;
    gap: var(--spacing-md);
  }

  &__basket {
    flex: 0 0 2rem;

    &-icon {
      max-width: 100%;
    }
  }
}
