:root {
  --primary-color: #ca8e46;
  --secondary-color: #121217;
  --background-color: #18181d;
  --text-color: #ffffff;
  --text-color-gray: #616163;
  --link-color: #ffffff;
  --link-hover-color: #ca8e46;
  --link-visited-color: #fff;

  --button-light-color: #ffffff;
  --button-dark-color: #121217;
  --button-accent-color: #ca8e46;

  --header-background-color: #18181d;
  --logo-width: 25rem;
  --primary-text-font: "Cinzel", serif;
  --secondary-text-font: "Montserrat", serif;

  //   --button-background-color: [color];
  //   --button-text-color: [color];
  //   --button-hover-background-color: [color];
  //   --button-hover-text-color: [color];
  //   --button-border-radius: [size];

  --container-max-width: 140rem;
  //   --header-height: [size];
  //   --footer-height: [size];
  //   --content-padding: [size];
  //   --section-padding: [size];

  //   --box-shadow: [value];
  --transition-duration-xs: 0.3s;
  --transition-duration-sm: 0.5s;

  --transform-scale-xs: 1.2;

  --font-size-sm: 1.15rem;
  --font-size-ms: 1.3rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 3.2rem;
  --font-size-xxl: 4.8rem;
  --font-size-xxxl: 8.8rem;

  --line-height-xs: 1.2rem;
  --line-height-sm: 1.4rem;
  --line-height-md: 1.6rem;
  --line-height-lg: 1.8rem;
  --line-height-xl: 2.2rem;
  --line-height-xxl: 2.8rem;

  --spacing-xxxs: 0.26rem;
  --spacing-xxs: 0.4rem;
  --spacing-xs: 0.8rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 3.2rem;
  --spacing-xl: 6.4rem;
  --spacing-xxl: 9.6rem;

  --width-xxs: 0.4rem;
  --width-xs: 0.8rem;
  --width-sm: 1.6rem;
  --width-md: 3.2rem;
  --width-lg: 4.8rem;
  --width-xl: 6.4rem;
  --width-xxl: 9.6rem;

  --height-xxs: 0.4rem;
  --height-xs: 0.8rem;
  --height-sm: 1.6rem;
  --height-md: 3.2rem;
  --height-lg: 4.8rem;
  --height-xl: 6.4rem;
  --height-xxl: 9.6rem;
}
