@import "variables";
@import "reset";
@import "header";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: var(--container-max-width);
  min-height: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
  gap: var(--spacing-xl);
}
